body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  font-size: 20px;
}

.main {
  padding: 50px 80px;
}


.hpname h2 {
  font-size: 30px;
}

.contents {
  height: 500px;
  margin-top:50px;
  
}


.selfintroduce{
  border-bottom: 2px solid #1f1e33;
   font-size:20px;
  
  padding-bottom:5px;
  
  margin-bottom:20px;
}

.selfintroducenakami h4 {
  font-size: 18px;
}

.selfintroducenakami h5 {
  font-size: 1px;
}
  
  
.sns {
  border-bottom: 2px solid #1f1e33;
   font-size:20px;
  
  padding-bottom:5px;
  
  margin-bottom:20px;
  
}

.bms {
  border-bottom: 2px solid #1f1e33;
   font-size:20px;
  
  padding-bottom:5px;
  
  margin-bottom:20px;
  
}

.contact {
  border-bottom: 2px solid #1f1e33;
   font-size:20px;
  
  padding-bottom:5px;
  
  margin-bottom:20px;
  
}

.twitterdm h4 {
  font-size: 18px;
}


.jisseki {
  border-bottom: 2px solid #1f1e33;
   font-size:20px;
  
  padding-bottom:5px;
  
  margin-bottom:20px;
  
}

.jissekiitirann h4 {
  font-size: 18px;
}
